In [2]:
Aditi

NameError: name 'Aditi' is not defined

In [2]:
name='Aditi'
x=10
y=3
z=6

In [3]:
del name

## operators
- Arithmetic operastors
- Assignment operators
- Logical Operators
- Identity Operators

In [4]:
print(x+y)
print(x-y)
print(x/y)
print(x*y)

13
7
3.3333333333333335
30

In [5]:
a=x+y
a+= 1
a-= 1
a*= 2
a/= 5
print(a)

5.2

In [6]:
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)
print(x==y)
print(x!=y)

True
False
False
True
False
True

In [7]:
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)
print(x==y)
print(x!=y)

True
False
False
True
False
True

In [7]:
x<y or y<10

True

In [8]:
fruits=['Apple','Banana','Cherry']
print('Apple'in fruits)
print('Grapes' in fruits)

True
False

In [9]:
f= ['Apple','Banana','Cherry']

In [10]:
fruits==f

True

In [11]:
x=10
y=10
print(x==y)
print(x is y)

True
True

In [12]:
name = input("enter your name: ")

In [13]:
city= input("enter your city:")
age = input("enter your age:")
print(name,city,age)

aditu gorakhpur 29

In [14]:
x=10
print(type(x))
x=float(x) #covert x to float and assign it to x
print(x,type(x))
x=str(x)
print(x,type(x))
x=bool(x)
print(x,type(x))
x=str(x)
print(x,type(x))
#x=int(x) #yeh ni hoga
print(x,type(x))

<class 'int'>
10.0 <class 'float'>
10.0 <class 'str'>
True <class 'bool'>
True <class 'str'>
True <class 'str'>

In [15]:
x=int(input('enter a number for A:'))
y=int(input('enter a number for B:'))
print(x+y)

14

In [16]:
print( 'Name:',name,'Age:',age, 'City:',city)

Name: aditu Age: 29 City: gorakhpur

In [17]:
print(name,age,city, sep=',')

aditu,29,gorakhpur

In [18]:
print(x, end=':')
print(y)

12:2

In [19]:
f'I live in {city}'

'I live in gorakhpur'

In [20]:
print(f'x={x},y={y}')
print(f'x**y => {x**y}')
print(f'x+y => {x+y}')

x=12,y=2
x**y => 144
x+y => 14

In [21]:
print(f'{name:15}{len(name)}')
print(f'{city:15}{len(city)}')

aditu          5
gorakhpur      9