In [16]:
raju=[56,90,34,34,56]
raju_dict={
    'English':56,
    'Hindi': 90,
    'Math':34,
    'Chemistry':34,
    'Evs':56
}
print(raju_dict)

{'English': 56, 'Hindi': 90, 'Math': 34, 'Chemistry': 34, 'Evs': 56}

In [2]:
company= {
    'Emp001': {
        'name':"Awanish Kumar",
        'designation':'Assistant III',
        ' salary':32000,
    },
    'emp002' :{
        'name': 'Ranu Singh',
        'designation':'Staff officer',
        'Salary':89000,
    },
    'total_emp':2,
    'department':'Accounts',
    'vacancy':['clerk','manager','assistant']
}

In [3]:
compile

In [5]:
company['name']='Acme inc.'#adding a key and value to dict
print(company)

{'Emp001': {'name': 'Awanish Kumar', 'designation': 'Assistant III', ' salary': 32000}, 'emp002': {'name': 'Ranu Singh', 'designation': 'Staff officer', 'Salary': 89000}, 'total_emp': 2, 'department': 'Accounts', 'vacancy': ['clerk', 'manager', 'assistant'], 'name': 'Acme inc.'}

In [6]:
company['total_emp']=3
company['emp003']={
    'name': 'Ajay verma',
    'designation':'clerk',
    'salary':45000
}

In [7]:
company

{'Emp001': {'name': 'Awanish Kumar',
  'designation': 'Assistant III',
  ' salary': 32000},
 'emp002': {'name': 'Ranu Singh',
  'designation': 'Staff officer',
  'Salary': 89000},
 'total_emp': 3,
 'department': 'Accounts',
 'vacancy': ['clerk', 'manager', 'assistant'],
 'name': 'Acme inc.',
 'emp003': {'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000}}

In [8]:
company['Emp001']

{'name': 'Awanish Kumar', 'designation': 'Assistant III', ' salary': 32000}

In [9]:
#company['emp004']
company.get('emp003')

{'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000}

In [10]:
#company['emp004']
company.get('website')

In [11]:
if 'name' in company:
    print('name exists in dict')

name exists in dict

In [12]:
if 'website' in company:
    print('website exists in dict')

In [13]:
print(company.keys())
print(company.values())

dict_keys(['Emp001', 'emp002', 'total_emp', 'department', 'vacancy', 'name', 'emp003'])
dict_values([{'name': 'Awanish Kumar', 'designation': 'Assistant III', ' salary': 32000}, {'name': 'Ranu Singh', 'designation': 'Staff officer', 'Salary': 89000}, 3, 'Accounts', ['clerk', 'manager', 'assistant'], 'Acme inc.', {'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000}])

In [14]:
print(company.items())

dict_items([('Emp001', {'name': 'Awanish Kumar', 'designation': 'Assistant III', ' salary': 32000}), ('emp002', {'name': 'Ranu Singh', 'designation': 'Staff officer', 'Salary': 89000}), ('total_emp', 3), ('department', 'Accounts'), ('vacancy', ['clerk', 'manager', 'assistant']), ('name', 'Acme inc.'), ('emp003', {'name': 'Ajay verma', 'designation': 'clerk', 'salary': 45000})])

In [17]:
for i in raju_dict:
    print(i)

English
Hindi
Math
Chemistry
Evs

In [ ]:
for i in company:
    print()