- creation
- indexing and slicing
- methods

In [22]:
s = "hello"
s1 = 'world'
msg = '''this is a message 
with multiple lines'''
w = '❤️' *10
print(w)
a=100
b=str(a)
print(b,type(b))

❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️
100 <class 'str'>

In [23]:
data=open('t4.py').read()
print(data)

from turtle import *

speed('fastest')
pensize(2)
bgcolor('black')
pencolor('white')
colors=['red','yellow','blue','green','orange','purple']
side= 6
for i in range(side):
    fd(200)
    for i in range(side):
        fd(100)
        lt(360/side)
        begin_fill()
        fillcolor(colors[i%6])
        for i in range(side):
            fd(50)
            lt(360/side)
        end_fill()
    lt(360/side)

hideturtle()
mainloop()

In [24]:
s

'hello'

In [25]:
print(s[0]) # first char
print(s[1]) # second char
print(s[2])
print(s[3])
print(s[4])
print(s[-1])
print(s[-1])
print(s[-2])

h
e
l
l
o
o
o
l

In [26]:
name='William Shakespeare'

In [27]:
name[8:-6]

'Shake'

In [28]:
name[0:4]

'Will'

In [29]:
name[3:7]

'liam'

In [30]:
a=name[8:-6]
print(a)
b=name[:4]
print(b)
c=name[8:]
print(c)
d=name[:]
print(d)
e=name[::2]#step
print(e)
f=name[::-1]#reverse
print(f)

Shake
Will
Shakespeare
William Shakespeare
WlimSaepae
eraepsekahS mailliW

In [31]:
len(name)

19

- methods

In [32]:
name.upper()

'WILLIAM SHAKESPEARE'

- methods
  - utility method
     - count 
     - find
     - replace
     - split
     - join
     - strip
- formatting method
    - capatilize 
    - title
    - upper
    - lower
    - swapcase
    - casefold
- validation method
    - isalnum
    - isalpha
    - isdigit
    - islower
    - isupper
    - istitle  
    - isspace

In [34]:
msg='''this is a story about a kingdom of 
south india lead by the hoyasala dynasty kings.'''

print(msg.count('a'))
print(msg.count('out'))
print(msg.count('the'))

9
2
1

In [41]:
total_vowels=msg.count('a')+msg.count('e')+msg.count('i')+msg.count('o')+msg.count('u')
print(total_vowels)

25

In [42]:
tvs=0
for c in 'aeiou':
    tvs+=msg.count(c)
print(tvs)

25

In [43]:
for c in 'aeiou':
    print(c)

a
e
i
o
u

In [46]:
msg.find('story')

10

In [48]:
msg.find('out',19)

37

In [49]:
msg.rfind('out')

37

In [50]:
msg.replace('out','in')# if you want to change the msg you need to make a new variable

'this is a story abin a kingdom of \nsinh india lead by the hoyasala dynasty kings.'

In [51]:
msg.replace('a','')

'this is  story bout  kingdom of \nsouth indi led by the hoysl dynsty kings.'

In [55]:
total=msg.replace('a','')+msg.replace('e','')+msg.replace('i','')+msg.replace('o','')+msg.replace('u','')
print(total)

this is  story bout  kingdom of
south indi led by the hoysl dynsty kings.this is a story about a kingdom of
south india lad by th hoyasala dynasty kings.ths s a story about a kngdom of
south nda lead by the hoyasala dynasty kngs.this is a stry abut a kingdm f
suth india lead by the hyasala dynasty kings.this is a story abot a kingdom of
soth india lead by the hoyasala dynasty kings.

In [56]:
msg_copy=msg
for c in 'aeiou':
    msg_copy=msg_copy.replace(c,'')
    print(msg)
    print(msg_copy)

this is a story about a kingdom of
south india lead by the hoyasala dynasty kings.
this is  story bout  kingdom of
south indi led by the hoysl dynsty kings.
this is a story about a kingdom of
south india lead by the hoyasala dynasty kings.
this is  story bout  kingdom of
south indi ld by th hoysl dynsty kings.
this is a story about a kingdom of
south india lead by the hoyasala dynasty kings.
ths s  story bout  kngdom of
south nd ld by th hoysl dynsty kngs.
this is a story about a kingdom of
south india lead by the hoyasala dynasty kings.
ths s  stry but  kngdm f
suth nd ld by th hysl dynsty kngs.
this is a story about a kingdom of
south india lead by the hoyasala dynasty kings.
ths s  stry bt  kngdm f
sth nd ld by th hysl dynsty kngs.